.flex-container {
  display: flex;
  flex-wrap: wrap;
  color: inherit;
}

.flex-container > div {
  display: flex;
  width: calc(100%/3);
  height: 255px;
  text-align: center;
  /* line-height: 75px;
  font-size: 30px; */
  justify-content: center;
  align-items: center;
  overflow: scroll;
  scroll-behavior: smooth;
}

.usernameInput {
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: white;
}

.usernameInput:active {
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: white;
}

#result {
  color: white;
  height: inherit;
  width: auto;
}

.numberInput {
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: white;
}

.numberInput:active {
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: white;
}

input:-webkit-autofill {
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
}

.btn {
  color: white;
}

.btn:hover {
  color: white;
}

.white {
  background-color: #FFFFFF;
}

.yellow {
  background-color: #FFFF00;
}

.cyan {
  background-color: #00ffff;
}

.lime {
  background-color: #00ff01;
}

.lavendar {
  background-color: #cc99fe;
}

.red {
  background-color: #fe0000;
  color: white;
}

.royal {
  background-color: #3366ff;
}

.black {
  background-color: #000000;
}

.navy {
  background-color: #343399;
}

.magenta {
  background-color: #81007f;
}

h1 {
  text-align: center;
  height: 100px;
  padding-top: 30px;
  font-family: "century gothic";
}

/* #result {
  display: none;
} */
